/* 
.navbar {
  background: #063866;
  color: white !important;
  padding: 20px;
  margin-bottom: 20px;
}

.navbar li a {
  color: #ffffff !important;
}
.navbar .navbar-brand {
  color: #ffffff !important;
}

.padding {
  margin: 70px 0;
}

.counter h1 {
  font-weight: 900;
}

.analyser, .health, .partner, .med, .contact {
  padding: 0 70px;
}
.health {
 padding-top: 150px;
  background: #063866;
  width: 100%;
  height: 500px;
  color: white;
}



.partner {
  background: linear-gradient(
    270deg,
    #063866 -9.19%,
    rgba(107, 18, 149, 0.696185) 135.27%,
    rgba(53, 133, 207, 0) 135.28%,
    rgba(156, 31, 159, 0.457937) 135.28%
  );
  border-radius: 34px;
  width: 88%;
  margin: 0 auto;
}

.partner .row .counters {
    color: #ffffff;
}

footer {
    background: #063866;
    color: #ffffff;
    height: 280px;
    padding-top: 50px;
    margin-top: 90px;

}
.footer .info .form-group input {
    width: 300px !important;
}
@media (min-width: 399px) {
  .partner .counters {
    margin-top: 100px;
  }
} */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800;900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: #fbf7fb;
}

#logo {
  font-weight: bold;
}
img {
  width: 100%;
}

header .top-bar {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  height: 60px;
}

header .app-title {
  color: #063866;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
}

section.hero {
  position: relative;
  margin-bottom: 3rem;
  background-image: url("./images/hero-img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 0;
}

.hero-text-sect {
  width: 45%;
}

section.hero .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.hero .img-section {
}

.hero__rip-cont {
  display: flex;
  align-items: flex-end;
  margin-bottom: 3rem;
}

.hero__rip-cont img {
  width: 50px;
}

.hero__rip-cont span {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 1rem;
}

.hero__main-text {
  font-size: 2.3rem;
  font-weight: 900;
  color: #fff;
}

.hero__info-text {
  font-size: 1.2rem;
  color: #ffffff;
}

.counters {
  padding-bottom: 50px;
}

.counters-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter-img {
  width: 50%;
}

.counters .counter-text {
  width: 40%;
}

.counters .counter-text p:first-child {
  color: #063866;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
  line-height: 1;
}

.counters .counter-text p:first-child::after {
  display: block;
  content: "";
  height: 5px;
  width: 50%;
  background-color: #63d0b1;
}

.counters .counter-text p:last-child {
  background-image: url("./images/counter-text-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.analyse {
  height: 100%;
  padding: 100px 0;
}

.fart-card {
  height: 100%;
  background-color: #ffffff;
  box-shadow: 55px 65px 44px rgba(197, 104, 78, 0.13),
    20px 30px 30px rgba(102, 62, 51, 0.06),
    10px 20px 20px rgba(102, 62, 51, 0.04),
    1px 10px 10px rgba(102, 62, 51, 0.02);
  border-radius: 24px;
}

.fart-card .img-card {
  height: 140px;
  text-align: center;
  padding: 2rem;
}

.fart-card img {
  width: 100px;
}

.fart-card--body {
  padding: 1rem 2rem;
}

.fart-card--body h5 {
  text-align: center;
  color: #063866;
  font-weight: 700;
  font-size: 1.4rem;
  height: 50px;
}

.fart-card--body p {
  color: #4f4f4f;
}

.graphs {
  margin-bottom: 4rem;
}

.graphs-wrapper {
  background: linear-gradient(
    270deg,
    #fd6234 -27.89%,
    rgba(107, 18, 149, 0.696185) 125.45%,
    rgba(53, 133, 207, 0) 125.47%,
    rgba(156, 31, 159, 0.457937) 125.47%
  );
  border-radius: 24px;
}

.graphs-inner {
  display: flex;
  padding: 2rem;
  align-items: center;
}

.graph-text {
  width: 40%;
  padding: 0 1rem;
}

.graph-text p {
  font-size: 2.3rem;
  text-align: right;
  font-weight: 800;
  color: #fff;
}

.graph-img {
  width: 60%;
}

.graph-img img {
  width: 100%;
}

.treatment img {
}

.testimonial {
  padding-top: 70px;
}
.testimonial img {
  border-radius: 50%;
}

.app {
  background-color: #9c1f9f;
  margin-top: 200px;
  width: 100%;
  position: relative;
  height: 350px;
}

/* .app img {
  width: 70%;
  height: 80%;
} */

.app-img {
  position: absolute;
  bottom: 0;
  right: 150px;
}

.app-img img {
  width: 100%;
}

.app-text {
  width: 60%;
}

.app-text h2 {
  font-weight: 800;
  font-size: 2rem;
}

.app-inner {
  padding-top: 4rem;
}

.stores {
  display: flex;
}
.app h2 {
  color: white;
}

.stores img {
  width: 50%;
}

.notify {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  text-align: center;
}

.button-main {
  border: 1px solid #010910;
  background: #010910;
  padding: 0.4rem 2.4rem;
  display: inline-block;
  color: #fff;
  transition: all 200ms;
}

.button-main:hover {
  color: #58aeff;
  text-decoration: none;
}

footer {
  background-color: #063866;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 5rem;
  margin-top: 4rem;
}

footer h3 {
  color: #ffffff;
  font-size: 3rem;
  width: 60%;
  margin-bottom: 2rem;
}

footer .form-sect {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

footer .form-sect .form-group {
  width: 70%;
}

footer .form-sect .form-group .form-control {
  background: transparent;
  color: #fff;
}

footer .form-sect .form-group .form-control::placeholder {
  color: #fff;
}

footer .button-main {
  margin-left: 2rem;
}

/* TABLETS ONLY */
@media (min-width: 768px) and (max-width: 991px) {
  section.hero .inner {
  }

  .hero-text-sect {
    width: 50%;
  }

  section.hero .img-section {
    width: 50%;
  }
}

/* MOBILE PHONES ONLY */
@media (max-width: 767px) {
  section.hero .inner {
    flex-direction: column;
  }

  .hero-text-sect,
  section.hero .img-section {
    width: 100%;
  }

  .counters-inner {
    flex-direction: column;
  }

  .counter-img {
    width: 100%;
    margin-bottom: 2rem;
  }

  .counters .counter-text {
    width: 100%;
  }
}

/* toggle */

/* body {
  
  background-color: #FBF7FB;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}
.card-dark {
  color: black;
  background-color: #fff;
}
.navbar-brand {
  font-size: 30px;
  font-weight: bold;
}

.navbar li {
  padding: 20px
}
#navbarResponsive .navbar-nav {
  display: flex !important;
  justify-content: flex-end !important;
} */
